<%- include('./partials/head')%>

<section class="hero">
    <a href="/blog/<%=blogList[0].id%>"><img src="<%=blogList[0].url%>" alt=""></a>
<h1><%=blogList[0].title%>></h1>
<div></div>
</section>
<section>
<h1 id="all">All articles</h1>
<article class="blogs">
<%newBlogList.forEach(elt => {%>
    <div>
        <a href="/blog/<%=elt.id%>"><img src="<%=elt.url%>" alt=""></a>
<figcaption><%=elt.title%></figcaption>
</div>
<%})%>


</article>
</section>

<%- include('./partials/footer')%>
</body>
</html>