<%- include('./partials/head')%>

<%- include('./partials/hero')%>

<h1 id="all">All articles</h1>
<article id="blogs">
<%newBlogList.forEach(elt => {%>
    <div>
        <a href="/blog/<%=elt.id%>"><img src="<%=elt.url%>" alt=""></a>
<figcaption><%=elt.title%></figcaption>
</div>
<%})%>


</article>

<%- include('./partials/footer')%>
<script src="/main.js"></script>
</body>
</html>