<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/"><img src="/NORDIC ROSE.png" alt=""></a>
    <nav>
        <ul id="nav_container">
            <li><a class="active" href="/blog/<%=singleBlog.id%>">BLOG</a></li>
            <li><a href="/newArticle">New Article</a></li>
        </ul>
    </nav>
    </header>
<section class="single">
    <h1><%=singleBlog.title%></h1>
    <img src="<%=singleBlog.url%>" alt="">
    <div id="article_container">
    <article>
        <div id="div_container">
        <img src="<%=singleBlog.author_bild%>" alt="">
        <div>
        <p><%=singleBlog.author%></p>
        <span><%=singleBlog.published_at%></span>
        <span>.</span>
        <span><%=singleBlog.duration%> min read</span>
        </div>
        </div>

        <p class="content"> <%=singleBlog.body%></p>
    </article>
    </div>
</section>
<%- include('./partials/whatNext')%>
<%- include('./partials/footer')%>
</body>
</html>